<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HTML CODER</title>
  </head>
  <body>
    <header>
      <nav>Mi primera pagina HTML</nav>
    </header>
    <div style="background-color: red">Mi nombre es {{nombre}}</div>
    <div style="background-color: green">Mi nombre es {{apellido}}</div>
    <div>
      {% for nota in lista %} {% if nota < 6 %}
      <p style="color: red">DESAPROBADO = {{nota}}</p>
      {% else %}
      <p style="color: green">APROBADO = {{nota}}</p>
      {% endif %} {% endfor %}
    </div>
  </body>
</html>
