{% extends "AppCoder/padre.html" %}
{% load static %}
{% block contenido_que_cambia %}
{% if curso_formulario.errors %}
    <p style="background-color: blue;">HAY ALGO MAL EN EL FORMULARIO</p>
    {% endif %}
    <form action="{% url 'cursos' %}" method="POST"> {% csrf_token %}
        <p style="color:green; height: 50px;">FORMULARIO PARA CURSOS!!
        </p>
        <table>
            {{curso_formulario.as_table}}    <!-- Vamos a hacer que el formulario sea como una tabla -->
        </table>
        <input type="submit" value="Enviar">
    </form>
{% endblock %}
